streamlit>=1.53.0

# Utilities
numpy>=1.24.0       # array ops
pandas>=1.5.0       # tabular ops

# Face Recognition
scikit-learn        # SVM classifier (Face1, Face2 ...)
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database & Auth 
supabase
bcrypt

# Misc
segno               # QR-code generation
pillow              # image processing

# Voice Recognition
librosa
resemblyzer         # voice embeddings
